PORT=YOUR_PORT
DB_URL=mongodb://localhost:27017/lottery_db

JWT_SECRET=YOUR_JWT_SECRET
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
PAYHERE_MERCHANT_ID=1234795
PAYHERE_MERCHANT_SECRET=MTM2OTYwNzkyNzM2MzA5MzM4MTQwNDU2MzcwNjkzOTc1MTQ4MTc=
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
